.card {
  width: 325px;
  margin: 10px;
  padding: 11px;
  border: 1px solid black;
}

.card-block {
  border: 5px solid grey;
  padding: 5px;
 // margin: 5px;
  text-align: center;
}

#output li {
  display: inline;
  list-style-type: none;
}

img {
  align: center;
}
